/** button start **/

@import "../node_modules/ces-theme/src/scss/variables";

/* adjustment for Nexus3 in order that warp menu is shown there as it should*/
li.warpmenu-link a:not([class*="x-"]):visited,
li.warpmenu-link a:not([class*="x-"]):hover {
  color: $white;
  text-decoration: none;
  border-bottom: none;
}
/** button end **/


.warpmenu-logo {
  //margin-top: 15px;
  width: 170px;
  height: 52px;
  background-image: url(images/blib-white-160px.png);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 74px;
}

.warpmenu {
  font-family: $font-family-sans-serif !important;
  background: $brand-primary-darker;
  position: fixed;
  font-size: 12px;
  line-height: 21px;
}

.warpmenu-home {
  padding: 0 0 1px 0;
  //margin: 20px 0 0 0;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: inherit;
}

.warpmenu-home a {
  text-align: center;
  border: 0;
  padding: 0;
}

.warpmenu h3 {
  font-size: 14px;
  color: $white;
  padding: 20px 0 5px 5px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  background-color: inherit;
}

.warpmenu h3::before {
  content: "\25BC  ";
}

.warpmenu h3.warpmenu-category-open::before {
  content: "\25B6  ";
}

/* .warpmenu h3::after{
	content: " \25BC";
}

.warpmenu h3.warpmenu-category-open::after{
	content: " \25C0";
} */

.warpmenu h3:hover {
  cursor: pointer;
}

ul.warpmenu-collapsed {
  display: none;
}

.warpmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.warpmenu li {
  display: block;
  border-bottom: 1px solid $brand-primary;
}

.warpmenu li a {
  padding: 10px;
  display: block;
  color: $white;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  border-bottom: none;
}

.warpmenu-link:hover {
  background: $brand-primary;
}

.warpmenu li:active {
  background: $brand-primary;
  color: $white;
}

/* Orientation-dependent styles for the content of the menu */

.warpmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999;
}

li.warpmenu-link-top {
  border-top: 1px solid $brand-primary;
}

/* Vertical menu that slides from the left or right */

.warpmenu-right {
  right: -240px;
}

.warpmenu-right.warpmenu-open {
  right: 0;
}

/* Push classes applied to the body */

.warpmenu-push {
  /*overflow-x: hidden;*/
  position: relative;
  left: 0;
}

.warpmenu-push-toleft {
  left: -240px;
}

/* Transitions */
.warpmenu,
.warpmenu-push {
  transition: left 0.3s ease, right 0.3s ease;
}

/*******************************************************************************************/
/***************************************New CSS*********************************************/
/*******************************************************************************************/

.warp-menu-container {
  position: fixed;
  z-index: 9996;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  display: -ms-flexbox;
  flex-direction: row;
  -ms-flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  pointer-events: none;
  user-select: none;
}

/*******************************************************************************************/
/********************************Onboarding message box*************************************/
/*******************************************************************************************/

.warp-menu-column-tooltip {
  z-index: 9997;
  flex-basis: 16rem;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: all;
  user-select: all;
  transition: visibility 0.5s, opacity 0.5s linear;

  label.warp-onboarding {
    flex-basis: auto;
    position: relative;
    margin-right: 1.5rem;
    display: inline-block;
    border-radius: 10px;
    padding: 2rem;
    background-color: $brand-primary-darker;
    color: white;
    width: 16rem;
    font-size: 1rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .warp-onboarding-msg {
      margin: 0 0 0.5rem;
    }

    .warp-onboarding-hint {
      margin: 0;
      font-size: 0.8em;
      text-align: right;
    }
  }

  label.warp-onboarding::after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: $brand-primary-darker;
    right: -1rem;
    top: calc(50% - 1rem);
    transform: rotate(45deg);
  }
}

.warp-onboarding-container-hide {
  visibility: hidden;
  opacity: 0;
}

/*******************************************************************************************/
/********************************Warp menu toggle button************************************/
/*******************************************************************************************/

.warp-menu-column-toggle {
  z-index: 9997;
  flex-basis: 1rem;
  pointer-events: all;
  user-select: all;

  a.warpbtn {
    z-index: 9998;
    position: relative;
    top: calc(50vh - 2rem);
    right: 0;
    height: 4em;
    display: inline-block;
    background-color: $brand-primary-darker;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    writing-mode: vertical-rl;
    text-align: center;
    color: white;
    transform: rotate(180deg);
    padding: 0.25em 0.125em;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .warpbtn-open {
    right: 239px;

    a {
      right: 239px;
    }
  }
}

/*******************************************************************************************/
/***************************************Warp menu*******************************************/
/*******************************************************************************************/

.warp-menu-column-menu {
  display: inline-block;
  z-index: 9997;
  background-color: yellow;
  transition: max-width 600ms ease-in-out;
  overflow: hidden;
  pointer-events: all;
  user-select: all;
  max-width: 100%;

  .menu {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    transition: width 300ms ease-in-out;
    background-color: green;
    height: 100%;
  }
}

.menu-container-hide {
  max-width: 0;
}

/*Layout Spalte*/
ul {
  list-style: none;
}

.warp-container {
  position: relative;
  transition: right 0.5s ease, left 0.5s ease;
}

.warp-wrapper {
  background-color: $brand-primary-darker;
  color: $white;
  writing-mode: vertical-lr;
  height: 100vh;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 1rem;

  li {
    writing-mode: horizontal-tb;
    width: 192px;
  }
}
