@import "@cloudogu/ces-theme-tailwind/ces-theme-tailwind-config.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    scrollbar-width: none;
}

@media print {
    .no-print {
        display: none !important;
    }
}