@import "@cloudogu/ces-theme-tailwind/ces-theme-tailwind-config.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hack {
    background: var(--warp-bg);
    background: repeating-linear-gradient(90deg, var(--warp-border) 0px, var(--warp-border) 1px, var(--warp-bg) 1px, var(--warp-bg) 15rem);
    background-repeat: repeat-x;
}
